@{
    ViewBag.Name = "Home";
}

<br />
<div class="page-header" style="color: steelblue">
    <h2>My Housing Society Details</h2>
</div>
<div class="alert alert-info">
    <div class="alert-heading" style="font-size: 24px;">
        <p>
            Welcome to my society
        </p>
    </div>
    <div style="margin-top: 35px;">
        <a href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Images/society.jpg")"
                 style="margin-top: 30px; width: 900px; height: 400px;" />
        </a>
    </div>
    <div style="font-family: 'Segoe UI'; font-size: 18px;">
        <p>
            This site will give all details regarding your house and society
        </p>
        <p>
            So sit back and get all details at your finger tips.
        </p>
        <p>
           
        </p>
    </div>
</div>
