<div ng-show="vm.viewModelHelper.modelIsValid == false" class="alert alert-danger">
    <h4 class="alert-heading">Errors!</h4>
    <ul data-ng-repeat="e in vm.viewModelHelper.modelErrors">
        <li>{{ e }}</li>
    </ul>
</div>



