<div>
    <p class="input-group" style="width: 400px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Name:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.Name" placeholder="Name" />{{societyRegisterModeStep1.Name}}
    </p>
    <p class="input-group" style="width: 400px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Description:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.Description" placeholder="Description" />
    </p>
    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Address:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.Address" placeholder="Address" />
    </p>
    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Locality:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.Locality" placeholder="Locality" />
    </p>

    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">City:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.City" placeholder="City" />
    </p>

    <p class="input-group" style="width: 250px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">State:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.State" placeholder="State" />
    </p>
    <p class="input-group" style="width: 300px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Zip code:</span>
        <input type="text" class="form-control" ng-model="societyRegisterModeStep1.ZipCode" placeholder="Zip code" />
    </p>
    <hr style="width: 415px; text-align: left;" />
    <div>
        <a href="#" class="btn btn-info" ng-click="step2()">Next</a>
    </div>

</div>