<div>
    <p class="input-group" style="width: 400px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Name:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.Name" placeholder="Name(required)">{{vm.societyRegisterStep1Model.Name}}</input>
    </p>
    <p class="input-group" style="width: 400px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Description:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.Description"  placeholder="Description">{{vm.societyRegisterStep1Model.Description}}</input>
    </p>
    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Address:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.Address" placeholder="Address">{{vm.societyRegisterStep1Model.Address}}</input>
    </p>
    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Locality:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.Locality" placeholder="Locality">{{vm.societyRegisterStep1Model.Locality}}</input>
    </p>

    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">City:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.City" placeholder="City">{{vm.societyRegisterStep1Model.City}}</input>
    </p>

    <p class="input-group" style="width: 250px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">State:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.State" placeholder="State">{{vm.societyRegisterStep1Model.State}}</input>
    </p>
    <p class="input-group" style="width: 300px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Zip code:</span>
        <input type="text" class="form-control" ng-model="vm.societyRegisterStep1Model.ZipCode" placeholder="Zip code">{{vm.societyRegisterStep1Model.ZipCode}}</input>
    </p>
    <hr style="width: 415px; text-align: left;" />
    <div>
        <a href="#" class="btn btn-info" ng-click="vm.step2()">Next</a>
    </div>

</div>